<div style="background: #e7e7e9">
  <div class="container">
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      *ngIf="items$ | async as items"
    >
      <span class="pln--title row text-center">Plann App</span>
      <div class="pln-item-list-wrapper col-5 marked">
        <div
          class="pln-item-creator"
          [ngClass]="{ 'mb-3': items.length !== 0 }"
        >
          <div class="input-group">
            <input
              [formControl]="mainInput"
              type="text"
              class="form-control"
              placeholder="Item name..."
              aria-label="New item"
            />
            <input
              (click)="createItem(mainInput.value)"
              class="btn btn-dark"
              type="button"
              value="Input"
            />
          </div>
        </div>

        <ul class="list-group" *ngIf="items.length !== 0">
          <li class="pln-list-item list-group-item" *ngFor="let item of items">
            <input
              type="checkbox"
              class="pln-status-checkbox form-check-input"
              [attr.checked]="item.status === true ? true : undefined"
              (click)="
                modifyItem(item.pos, item._id, {
                  status: !item.status
                })
              "
            />
            <span>{{ item.title }}</span>
            <input
              class="btn btn-outline-secondary"
              type="button"
              value="Delete"
              (click)="removeItem(item._id)"
            />
          </li>
        </ul>
      </div>
      <div
        class="col-8 pln-item-content-wrapper marked"
        *ngIf="selectedItem$ | async as selectedItem"
      >
        <textarea readonly class="form-control" aria-label="Title">{{
          selectedItem.title
        }}</textarea>
        <textarea
          readonly
          class="pln-text-area form-control mt-3"
          aria-label="With textarea"
          >{{ selectedItem.title }}</textarea
        >
      </div>
    </div>
  </div>
</div>
