@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

.marked {
  background-color: #d7d6d6;
  border-radius: var(--pln-border-radius);
  min-width: 300px;
  margin-top: 50px;
}
.pln--title {
  margin-top: 100px;
  font-size: 30px;
  white-space: nowrap;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.pln-item-creator {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.pln-item-list-wrapper {
  padding: var(--pln-padding);
  .form-control:focus {
    border-color: #ff5d73 !important;
    box-shadow: 0 0 0 0.2rem rgba($color: #ff5d73, $alpha: 0.7) !important;
  }
  .pln-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      padding: 0 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-family: "Oswald", sans-serif;
      font-weight: 300;
    }
    .pln-status-checkbox {
      height: 20px;
      width: 20px;
      margin: auto 20px;
      flex-shrink: 0;
      cursor: pointer;
    }
    input {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
    }
  }
}
.pln-item-content-wrapper {
  padding: var(--pln-padding);
  .pln-text-area {
    resize: none;
    height: 200px;
  }
}
